html,
body {
  padding: 0;
  margin: 0;
}

.home {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #4dd0e0;
}

.home-img>img {
  width: 800px;
  animation: 1s up;
}

@keyframes up {
  0% {
    transform: translateY(-1000px)
  }

}

.home-holder {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.hospital-dash-container {
  padding-top: 3%;
}

.hospital-dashboard-title {
  text-align: center;
  /* color: #4dd0e0; */
}

.hospital-dashboard-menu {
  background-color: #4dd0e0 !important;
}

.list-head-colored {
  background-color: #4dd0e0;
  height: 40px;
  padding: 0px;
}

.list-head-content-colored {
  padding-top: 10px;

}

.list-heading {
  display: flex;
  float: left;
}

.list-heads-title {
  margin-left: 70%;
  margin-right: 70%;
  color: white;
}

.add-patient {
  color: white;
}

.list-heads {
  margin-left: 0%;
  margin-right: 0%;
  width: 255px;
  text-align: center;
  /* color:white; */
}

.title>h1 {
  font-size: 10em;
}

.sub {
  font-size: 3em;
  margin: 10px;
  margin-left: 0;
}

.clg {
  background: #4dd0e0 !important;
  color: white !important;
}

.onboard {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin: auto;
  align-self: center;
  margin-top: 100px;

}

.nobg {
  background: none !important;
}

.center {
  text-align: center;
}

.white {
  color: white !important;
}

.lg {
  font-size: 1em !important;
}

.user-card {
  margin-top: 5%;
  margin-left: 35%;
  height: 60;
  width: 60%;
}

.details {
  display: flex;
  float: left;
}

.details-value {
  margin-left: 50%;
  margin-right: 50%;
}